﻿@charset "UTF-8";

/* ======== レイアウト ======== */
body {
	/* bodyの配置設定(幅/中央揃え) */
	width: 851px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/");
}

header, aside, article {
	/* 各セクション共通の設定（ブロック要素/境界線の指定） */
	display: block;
}

nav {
	/* navの配置(幅/高さ) */
	width: 900px;
	height: 30px;
}

article {
	/* articleの配置(幅/高さ/回り込み) */
	width: auto;
	height: auto;
	float: left;
	background-image: url("../images/hakusi.png");
}

footer {
	/* footerの設定(回り込み解除/テキスト中央揃え) */
	clear: both !important;
	text-align: center;
}

/* ======== 見出し======== */
h1 {
	/* h1のスタイル設定(高さ/余白/太字/フォントカラー/背景画像) */
	height: 48px;
	margin: 0px 0px 5px 0px;
	padding: 6px 0px 0px 10px;
	font-weight: bold;
	color: #008040;
	background-image: url("../images/");
}

article h3 {
	/* article配下 h3のスタイル設定(高さ/余白(上・右・下・左)/太字/フォントカラー/背景画像) */
	height: 30px;
	margin: 1px 0px 5px 0px;
	padding: 0px 0px 0px 10px; /* 文字の位置 */
	font-weight: bold;
	color: #555555;
	background-image: url("../images/hedder3.png");
}

/* ======== メインメニュー ======== */
nav ul {
	/* nav配下 ulのスタイル設定(余白なし) */
	margin: 0px 0px 0px 100px; /* メニューのとこの余白 */
	padding: 0px;
}

nav li {
	/* nav配下 liのスタイル設定(回り込み/マーカーなし/テキスト中央揃え/境界線) */
	float: left;
	list-style-type: none;
	text-align: center;
	border-left: 2px solid #80ffff;
}

nav li a {
	/* nav li配下  aのスタイル設定(ブロック要素/幅/フォントカラー/行間隔/アンカーの下線取り除き/背景色) */
	display: block;
	width: 212px;
	color: #fff;
	line-height: 40px;
	text-decoration: none;
	background-color: #519548;
}

nav li a:hover {
	/* アンカーホバー時の効果 */
	color: #fff;
	text-decoration: underline;
	background-color: #88c425;
}
/* ======== サイドメニュー ======== */
aside h3 {
	/* aside配下 h3のスタイル設定(余白/太字/フォントカラー/テキスト中央揃え/背景色) */
	margin: 1px;
	padding: 3px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #4169e1
}

aside ul {
	/* aside配下 ulのスタイル設定(余白なし/境界線/背景色) */
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
	border-top: none;
	background-color: #fff;
}

aside li {
	/* aside配下 liのスタイル設定(幅/行間隔/マーカーなし/境界線) */
	width: 200px;
	line-height: 1.4;
	list-style: none;
	border-top: 1px solid #aaa;
}

aside li a {
	/* nav li配下  aのスタイル設定(ブロック要素/余白/境界線) */
	display: block;
	padding: 10px 5px;
	border-left: 5px solid #4169e1;
}

/* ======== form ======== */
form {
	/* フォームをページの中央に置く */
	margin: 0 auto;
	width: 850px;
}

input {
	/* すべてのテキストフィールドを同じサイズにする */
	width: 500px;
	box-sizing: border-box;
	/* テキストフィールドのボーダーの外見を同一にする */
	border: 1px solid #999;
}

select {
	/* すべてのテキストフィールドを同じサイズにする */
	width: 100px;
	box-sizing: border-box;
	/* テキストフィールドのボーダーの外見を同一にする */
	border: 1px solid #999;
}

.radio {
	width: 20px;
}

#and, #or {
	width: 20px;
	margin-left: 40px;
}

input:focus {
	/* アクティブな要素を少し強調する */
	border-color: #000;
	background-color: #f0f8ff;
}

.button, .dialog_button {
	/* buttonクラスのスタイル設定(幅/高さ/太字/フォントカラー/境界線/背景画像) */
	width: 150px;
	height: 40px;
	font-weight: bold;
	color: #fff;
	border: 1px solid;
	cursor: pointer;
	margin-left: 25px;
	padding-left: 25px;
	background-image: url("../images/btn1.gif");
	float: left;
}

/* ======== table ======== */
.basetable {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-image: url("../images/hakusi.png");
	counter-reset: rouCount;
}

.basetable th {
	width: 20%;
	height: 50px;
	text-align: left;
	padding: 1px;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	background-image: url("../images/btn3.jpg"); repeat-x top left #eee;
	border-bottom: 1px dotted #999;
	border-left: 1px solid #ccc;
	counter-increment: rowCount;
}

.basetable td {
	width: 100%;
	height: 67px;
	padding: 1px;
	border-bottom: 1px dotted #999;
	border-left: 1px solid #ccc;
	content: counter(rowCount);
}
/* ランキング画面のレイアウト */
table.type07 {
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
	border: 1px solid #808080;
}

table.type07 thead {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #04162e;
}

table.type07 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #c00;
	color: #fff;
}

table.type07 tbody td {
	width: 300px;
	padding: 10px;
	border-right: 1px solid #ffffff;
	vertical-align: middle;
	border-bottom: 1px solid #ffffff;
	background: #ebebeb;
}

/* ======== その他 ======== */
small {
	color: #c0c0c0
}

.req_img {
	margin: 0px 0px -5px 0px;
}

.error {
	font-size: 1.2em;
	font-weight: bold;
	color: #ff0000;
}

/* --- id="error_summary"のスタイル (idセレクタ)--- */
#error_summary {
	color: #F00;
	display: none;
}

/* --- class="error_field"のスタイル (classセレクタ)--- */
.error_field {
	background-color: #F9C;
}

.center {
	text-align: center;
}

@font-face {
	font-family: "LigatureSymbols";
	src: url("../font/LigatureSymbols-2.11.eot");
	src: url("../font/LigatureSymbols-2.11.eot?#iefix")
		format("embedded-opentype"), url("../font/LigatureSymbols-2.11.woff")
		format("woff"), url("../font/LigatureSymbols-2.11.ttf")
		format("truetype"),
		url("../font/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon-font {
	font-family: "LigatureSymbols";
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-font-feature-settings: "liga" 1, "dlig" 1;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga" 1, "dlig" 1;
	-o-font-feature-settings: "liga" 1, "dlig" 1;
	font-feature-settings: "liga" 1, "dlig" 1;
}

/*------------------------------------------
// User style start
// change
----------------------------------------- */
.general-button {
	border-radius: 4px;
	background-color: #004080;
	margin: 20px 0px 0px 240px;
}

.general-button:before {
	border-radius: 4px;
	border-bottom: 0px solid rgba(46, 93, 135, 0);
	background-color: rgba(46, 93, 135, 0);
}

.button-content {
	border-radius: 0px 0px 4px 4px;
	padding: 1px 4px;
	box-shadow: 0px 0px 0px 0px rgba(46, 93, 135, 0);
	color: #f8f8f8;
}

.button-text {
	padding: 0px 4px;
	line-height: 1.5em;
	font-size: 18px;
}

.icon-font {
	padding: 0px 4px;
	font-size: 27px;
}

/*----------------- at hover -----------------*/
.general-button:hover {
	top: -3px;
	transition: all 30ms;
	-moz-transition: all 30ms;
	-webkit-transition: all 30ms;
	-o-transition: all 30ms;
	background-color: #4e8cc2;
}

.general-button:hover:before {
	border-bottom: 3px solid rgba(46, 93, 135, 0);
	transition: all 30ms;
	-moz-transition: all 30ms;
	-webkit-transition: all 30ms;
	-o-transition: all 30ms;
}

.general-button:hover .button-content {
	box-shadow: 0px 3px 0px 0px rgba(46, 93, 135, 1);
	transition: all 30ms;
	-moz-transition: all 30ms;
	-webkit-transition: all 30ms;
	-o-transition: all 30ms;
}

/*----------------- at active -----------------*/
.general-button:active {
	background-color: #3b77ad;
	box-shadow: 0px 1.6px 0px 0px rgba(39, 80, 116, 1) inset;
}

.general-button:active:before {
	top: -3px;
	padding-bottom: 3px;
	border-bottom: 0px solid rgba(46, 93, 135, 0);
}

.general-button:active .button-content {
	box-shadow: 0px 0px 0px 0px rgba(46, 93, 135, 0);
}

/*------------------------------------------
// User style end
----------------------------------------- */

/*------------------------------------------
// Core style start
// not change
----------------------------------------- */
.general-button {
	display: -moz-inline-box;
	display: inline-block;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition: all 0ms;
	-moz-transition: all 0ms;
	-webkit-transition: all 0ms;
	-o-transition: all 0ms;
	position: relative;
	top: 0px;
	cursor: pointer;
	text-decoration: none;
	line-height: 1;
}

.general-button:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button-content {
	display: table;
	transition: all 0ms;
	-moz-transition: all 0ms;
	-webkit-transition: all 0ms;
	-o-transition: all 0ms;
}

.button-text {
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
}

.icon-font {
	display: table-cell;
	vertical-align: middle;
}

/*----------------- at hover -----------------*/
.general-button:hover {
	transition-timing-function: ease-in-out;
}

.general-button:hover:before {
	transition-timing-function: ease-in-out;
}

.general-button:hover .button-content {
	transition-timing-function: ease-in-out;
}

/*----------------- at active -----------------*/
.general-button:active {
	top: 0px;
	transition: all 0ms;
	-moz-transition: all 0ms;
	-webkit-transition: all 0ms;
	-o-transition: all 0ms;
}

.general-button:active:before {
	transition: all 0ms;
	-moz-transition: all 0ms;
	-webkit-transition: all 0ms;
	-o-transition: all 0ms;
}

.general-button:active .button-content {
	transition: all 0ms;
	-moz-transition: all 0ms;
	-webkit-transition: all 0ms;
	-o-transition: all 0ms;
}

/*------------------------------------------
// Core style end
----------------------------------------- */

/*------------------------------------------
// Touch style start
----------------------------------------- */

/*----------------- at hover -----------------*/
.touch .general-button:hover {
	top: 0px;
	background-color: #4385bf;
}

.touch .general-button:hover:before {
	border-bottom: 0px solid rgba(46, 93, 135, 0);
}

.touch .general-button:hover .button-content {
	box-shadow: 0px 0px 0px 0px rgba(46, 93, 135, 1);
}

/*----------------- at active -----------------*/
.touch .general-button:active {
	background-color: #3b77ad;
	box-shadow: 0px 1.6px 0px 0px rgba(39, 80, 116, 1) inset;
}

.touch .general-button:active:before {
	top: -3px;
	padding-bottom: 3px;
	border-bottom: 0px solid rgba(46, 93, 135, 0);
}

.touch .general-button:active .button-content {
	box-shadow: 0px 0px 0px 0px rgba(46, 93, 135, 0);
}

/*------------------------------------------
// Touch style end
----------------------------------------- */